*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #100e1e;
    margin-top: 2rem;
}

.tekst{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 11rem;
    color: #e7e7e7f1;
    margin-bottom: 0.8rem;
    text-shadow: 0.3rem 0.3rem black;
    margin-top: 1rem;
}

.container-article-kaartjes{
    display: flex;
    justify-content: center;

}

.container-kaartjes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 1.5rem;
    max-width: 60%;
    max-height: 100%;
    padding: 0.7rem;
}

.kaartjes{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    max-height: 30rem;
    max-width: 30rem;
    height: 30rem;
    width: 30rem;
    box-shadow: 0 1rem 1rem 0rem rgba(0,0,0,0.2);
    border-radius: 1.5rem;
    background: #e7e7e7f1;
    padding: 1rem;
    padding-top: 3rem;
}

.kaartjes:hover{
    cursor: pointer;
}

.categorieabsolute{
    position: absolute;
    top: 0;
    left: 0;
    background: #3EBCE3;
    width: 10rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
}


.FotoKaartjes {
    max-height: 12rem;
    max-width: 12rem;
    border-radius: 1.5rem;
    transition: transform 1.5s ease; 
}

.FotoKaartjes2 {
    max-width: 16rem;
    border-radius: 1.5rem;
    transition: transform 1.5s ease;
}


.FotoKaartjes:hover {
    transform: scale(1.2);
}


.osufoto{
    box-shadow: none;
    border-radius: none;
}

.TitelKaartjes{
    font-size: 2.7rem;
}

.BeschrijvingKaartjes{
    font-size: 1.8rem;
    padding-left: 1.8rem;
    max-width: 48rem;
}

.kaart-home{
    justify-content: center;
    padding: 0;
    margin: 0;
}

.kaart-home > h2{
    font-size: 4rem;
}

.buttonKaartje {
    background-color: #100e1e;
    color: #e7e7e7f1; 
    border: 2px solid #e7e7e7f1;
    border-radius: 8px; 
    padding: 0.8rem 2rem; 
    font-size: 1.6rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    margin-top: 1rem;
}

.buttonKaartje:hover {
    background-color: #d4d4d4; 
    color: #100e1e;
    border-color: #d4d4d4; 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4); 
    transform: translateY(-1.5px);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; 
}

.modal {
    display: none; 
    position: fixed;
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #e7e7e7f1;
    padding: 2rem;
    border-radius: 1.5rem;
    width: 80%;
    max-width: 60rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.close {
    color: #100e1e;
    float: right;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.modal-title {
    font-size: 3rem;
    color: #100e1e;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
    margin-left: 2rem;
    
}

.modal-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two images per row */
    gap: 2rem; /* Space between images */
    justify-items: center; /* Center images */
    align-items: center; /* Align vertically */
}

.pokemon-image h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.pokemon-image img {
    max-width: 15rem;
    min-width: 7rem;
    border-radius: 0.5rem;
    border: 2px solid #100e1e;
    padding: 1rem;
}


.pokemon-stats {
    margin-top: 2rem;
    font-size: 1.6rem;
    color: #100e1e;
    text-align: center;
}

.formStatTitle{
    font-size: 2.1rem;
    margin-top: 2rem;
}

.pokemon-stats p {
    margin: 0.5rem 0;
}

.overig{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
}




@media only screen and (max-width: 28.125rem) {
    h1{
        font-size: 8rem;
    }
  }